**/libs/*
**/pods/**
# Xcode
*.pbxuser
*.xcuserdatad
*.xcworkspace
xcuserdata/
project.xcworkspace/
.DS_Store

# Pods
Pods/
Podfile.lock
*.podspec
!README.md

# Carthage
Carthage/Build
Carthage/Checkouts
Carthage/*.xcodeproj

# Swift
*.swp
*.xccheckout
*.playground
*.crafter
*.modulmap
*.xcscmblueprint
*.llbuild
*.pbxproj
*.build/
*_build/
*.xcodeproj/
*.xcode/ 

#Various
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcplugindata
/coverage/
fastlane/report.xml
fastlane/Preview.html
derived_data
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.gradle/
.idea/
libs/
jniLibs/
assets/